{% macro displayPitchList(pitch_list) %}

    {% for pitch in pitch_list %}
        <h1>{{pitch.title}}</h1>
        <li>{{pitch.content}}</li>
        <button><a href="{{url_for('main.comment',id=pitch.id)}}">Comment</a></button>
        <button>Upvotes</button>
        <button>Downvotes</button>
    {% endfor %}

{% endmacro %}

{% macro displayCommentList(comment_list) %}
    {% for comment in comment_list %}
    <p>{{comment.comment}}</p>
    <button>LIKE</button>
    <button>Boo! you suck!</button>
    {% endfor %}

{% endmacro %}